In [1]:
import pandas as pd

In [3]:
csv_path = "Raw Data/human_development.csv"

# Import the books.csv file as a DataFrame
human_dev = pd.read_csv(csv_path, encoding="utf-8")
human_dev.head()

,HDI Rank,Country,Human Development Index (HDI),Life Expectancy at Birth,Expected Years of Education,Mean Years of Education,Gross National Income (GNI) per Capita,GNI per Capita Rank Minus HDI Rank
0,1.0,Norway,0.944,81.6,17.5,12.6,"64,992",5.0
1,2.0,Australia,0.935,82.4,20.2,13.0,"42,261",17.0
2,3.0,Switzerland,0.930,83.0,15.8,12.8,"56,431",6.0
3,4.0,Denmark,0.923,80.2,18.7,12.7,"44,025",11.0
4,5.0,Netherlands,0.922,81.6,17.9,11.9,"45,435",9.0

In [5]:
df = pd.DataFrame(human_dev)
df

,HDI Rank,Country,Human Development Index (HDI),Life Expectancy at Birth,Expected Years of Education,Mean Years of Education,Gross National Income (GNI) per Capita,GNI per Capita Rank Minus HDI Rank
0,1.0,Norway,0.944,81.6,17.5,12.6,"64,992",5.0
1,2.0,Australia,0.935,82.4,20.2,13.0,"42,261",17.0
2,3.0,Switzerland,0.930,83.0,15.8,12.8,"56,431",6.0
3,4.0,Denmark,0.923,80.2,18.7,12.7,"44,025",11.0
4,5.0,Netherlands,0.922,81.6,17.9,11.9,"45,435",9.0
...,...,...,...,...,...,...,...,...
190,NaN,Europe and Central Asia,0.748,72.3,13.6,10.0,"12,791",NaN
191,NaN,Latin America and the Caribbean,0.748,75.0,14.0,8.2,"14,242",NaN
192,NaN,South Asia,0.607,68.4,11.2,5.5,"5,605",NaN
193,NaN,Sub-Saharan Africa,0.518,58.5,9.6,5.2,"3,363",NaN
194,NaN,World,0.711,71.5,12.2,7.9,"14,301",NaN

In [7]:
country_count = df["Country"].nunique()
country_count

195

In [23]:
human_dev_df = df.dropna()
human_dev_df

,HDI Rank,Country,Human Development Index (HDI),Life Expectancy at Birth,Expected Years of Education,Mean Years of Education,Gross National Income (GNI) per Capita,GNI per Capita Rank Minus HDI Rank
0,1.0,Norway,0.944,81.6,17.5,12.6,"64,992",5.0
1,2.0,Australia,0.935,82.4,20.2,13.0,"42,261",17.0
2,3.0,Switzerland,0.930,83.0,15.8,12.8,"56,431",6.0
3,4.0,Denmark,0.923,80.2,18.7,12.7,"44,025",11.0
4,5.0,Netherlands,0.922,81.6,17.9,11.9,"45,435",9.0
...,...,...,...,...,...,...,...,...
183,184.0,Burundi,0.400,56.7,10.1,2.7,758,1.0
184,185.0,Chad,0.392,51.6,7.4,1.9,"2,085",-22.0
185,186.0,Eritrea,0.391,63.7,4.1,3.9,"1,130",-6.0
186,187.0,Central African Republic,0.350,50.7,7.2,4.2,581,1.0
187,188.0,Niger,0.348,61.4,5.4,1.5,908,-5.0

In [30]:
human_dev_df.to_csv(r'human_dev_df.csv', index = False)